<div class="wrapper">
  <form (ngSubmit)="update()" [formGroup]="editForm" class="edit-form">
    <div class="title">Edit</div>
    <div class="form-item mb-3">
      <label class="mb-2">Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="name"
        [ngClass]="{
          'is-invalid': name.invalid && (name.dirty || name.touched),
          'is-valid': name.valid && (name.dirty || name.touched)
        }"
      />
      <app-error-label
        *ngIf="name.invalid && (name.dirty || name.touched)"
        [errors]="name.errors"
        controlName="Name"
      ></app-error-label>
    </div>
    <div class="form-item mb-3">
      <label class="mb-2">Email</label>
      <input
        type="text"
        class="form-control"
        formControlName="email"
        [ngClass]="{
          'is-invalid': email.invalid && (email.dirty || email.touched),
          'is-valid': email.valid && (email.dirty || email.touched)
        }"
      />
      <app-error-label
        *ngIf="email.invalid && (email.dirty || email.touched)"
        [errors]="email.errors"
        controlName="Email"
      ></app-error-label>
    </div>
    <div class="form-item mb-3">
      <label class="mb-2">Birthday</label>
      <input
        class="form-control"
        type="text"
        formControlName="birthday"
        bsDatepicker
        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
        [ngClass]="{
          'is-invalid':
            birthday.invalid && (birthday.dirty || birthday.touched),
          'is-valid': birthday.valid && (birthday.dirty || birthday.touched)
        }"
      />
      <app-error-label
        *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)"
        [errors]="birthday.errors"
        controlName="Birthday"
      ></app-error-label>
    </div>
    <div class="form-item mb-5">
      <label class="mb-2">Gender</label>
      <div class="options d-flex">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="female"
            value="female"
            (change)="onChange($event)"
            [checked]="isChecked"
          />
          <label class="form-check-label" for="female"> female </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="male"
            value="male"
            [checked]="!isChecked"
            (change)="onChange($event)"
          />
          <label class="form-check-label" for="male"> male </label>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between mx-3">
      <button class="btn btn-danger" (click)="cancel()">Cancel</button>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="
          (editForm.valid && editForm.dirty) || (editForm.pristine && isChanged)
            ? null
            : true
        "
      >
        Update
      </button>
    </div>
  </form>
</div>
